<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog | Coding</title>
    <link rel = "icon" href = "../static/SB.png" type = "image/x-icon">
    <!-- Custom Css links -->
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/utils.css">

</head>

<body>
    <div class="header font-4">
        <h2> Blog </h2>
    </div>
    <div class="back">
        <a href="/"><img src="../static/img/vectors/previous.png" alt="back" style="width: 40px; margin: 20px;"
                class="zoom"></a>
    </div>
    <div class="card max-width-1  flex font-1">
        <img src="https://source.unsplash.com/1600x900/?algorithm" alt="coding" class="postimg">
        <div class="title ">
            <h2>Coding <h2>
                    <h5>Dec 7, 2017</h5>
        </div>
        <div class=" font-1">

            <p>&nbsp; Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo, quidem dolorem voluptatem
                officiis illo cupiditate voluptatum nisi error saepe nobis et ad consequatur ducimus aspernatur eveniet
                fugiat id, iste laudantium voluptatibus harum vitae. Nihil ducimus, itaque cum beatae delectus modi
                facilis nemo deleniti fugit minus inventore error consequatur eius porro rerum totam vel sit? Pariatur
                dolorem fugiat sequi assumenda aliquid!</p>
            <p>&nbsp; Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo, quidem dolorem voluptatem
                officiis illo cupiditate voluptatum nisi error saepe nobis et ad consequatur ducimus aspernatur eveniet
                fugiat id, iste laudantium voluptatibus harum vitae. Nihil ducimus, itaque cum beatae delectus modi
                facilis nemo deleniti fugit minus inventore error consequatur eius porro rerum totam vel sit? Pariatur
                dolorem fugiat sequi assumenda aliquid!</p>
        </div>
    </div>
    <div class="card max-width-1  flex font-1">
        <img src="https://source.unsplash.com/1600x900/?coding" alt="coding" class="postimg">
        <div class="title ">
            <h2>Coding <h2>
                    <h5>Dec 7, 2017</h5>
        </div>
        <div class=" font-1">

            <p>&nbsp; Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo, quidem dolorem voluptatem
                officiis illo cupiditate voluptatum nisi error saepe nobis et ad consequatur ducimus aspernatur eveniet
                fugiat id, iste laudantium voluptatibus harum vitae. Nihil ducimus, itaque cum beatae delectus modi
                facilis nemo deleniti fugit minus inventore error consequatur eius porro rerum totam vel sit? Pariatur
                dolorem fugiat sequi assumenda aliquid!</p>
            <p>&nbsp; Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo, quidem dolorem voluptatem
                officiis illo cupiditate voluptatum nisi error saepe nobis et ad consequatur ducimus aspernatur eveniet
                fugiat id, iste laudantium voluptatibus harum vitae. Nihil ducimus, itaque cum beatae delectus modi
                facilis nemo deleniti fugit minus inventore error consequatur eius porro rerum totam vel sit? Pariatur
                dolorem fugiat sequi assumenda aliquid!</p>
        </div>
    </div>
    <div class="card max-width-1  flex font-1">
        <img src="https://source.unsplash.com/1600x900/?programming" alt="coding" class="postimg">
        <div class="title ">
            <h2>Coding <h2>
                    <h5>Dec 7, 2017</h5>
        </div>
        <div class=" font-1">

            <p>&nbsp; Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo, quidem dolorem voluptatem
                officiis illo cupiditate voluptatum nisi error saepe nobis et ad consequatur ducimus aspernatur eveniet
                fugiat id, iste laudantium voluptatibus harum vitae. Nihil ducimus, itaque cum beatae delectus modi
                facilis nemo deleniti fugit minus inventore error consequatur eius porro rerum totam vel sit? Pariatur
                dolorem fugiat sequi assumenda aliquid!</p>
            <p>&nbsp; Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo, quidem dolorem voluptatem
                officiis illo cupiditate voluptatum nisi error saepe nobis et ad consequatur ducimus aspernatur eveniet
                fugiat id, iste laudantium voluptatibus harum vitae. Nihil ducimus, itaque cum beatae delectus modi
                facilis nemo deleniti fugit minus inventore error consequatur eius porro rerum totam vel sit? Pariatur
                dolorem fugiat sequi assumenda aliquid!</p>
        </div>
    </div>
    <div class="footer ">
        <h2>Go to top</h2>
        <a href="#"><img src="../static/img/vectors/up-arrow.png" alt="Up" style="width: 40px;" class="zoom"></a>
    </div>

</body>

</html>